<div class="container mx-auto col-10 col-md-8 col-lg-15 ">
    <h1 class="text-center pb-3 pt-3">Tenants Details</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Unit Number</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Action</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of tenantDetail">
        <td>{{x.firstName}}</td>
        <td>{{x.lastName}}</td>
        <td>{{x.gender}}</td>
        <td>{{x.unitNumber}}</td>
        <td>{{x.email}}</td>
        <td>{{x.contactNumber}}</td>
        <td><a class="text-success nav-link" role="button" (click)="SaveId(x.id)" [routerLink]="['../EditTenant']">View</a></td>
       
      </tr>
    </tbody>
  </table>
</div>
