<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid text-white">
      <h3>Admin</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div *ngFor="let i of pageLinks">
              <ng-container *ngIf="i=='Tenants'; then dropDownlinks else simpleLink"></ng-container>
              <ng-template #dropDownlinks>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white dashboard-links" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{i}}
                  </a>
                  <ul class="dropdown-menu bg-dark">
                    <li><a class="nav-link dashboard-links  text-white" routerLink="AddTenant">New Tenant</a></li>
                    <li><a class="nav-link dashboard-links text-white" routerLink="ViewTenants">View Tenant Details</a></li>
                    <!-- <li><hr class="dropdown-divider"></li>
                    <li><a class="nav-link  text-white" href="#">Something else here</a></li> -->
                  </ul>
                </li>
              </ng-template>
              <ng-template #simpleLink>
          <li class="nav-item">
            <a class="nav-link dashboard-links active" aria-current="page" role="button" routerLink="{{i}}" name="{{i}}">{{i}}</a>
          </li>
        </ng-template>
        </div>
        </ul>
            <ul class="navbar-nav">  <li class="nav-item pe-45 float-right">
                <app-logout></app-logout>
              </li></ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>