<nav class="bg-color pb-2">
    <div class="text-center">
      <h1 class="text-white text-center">Complaint Management System</h1>
    </div>
  </nav>
 
  <div class="container mx-auto col-10 col-md-8 col-lg-3">
   
    <div class="alert alert-danger" id="alertMessage" *ngIf="!correctDetails"  role="alert">
      <div id="errorMessage">{{errorMessage}}</div>
    </div>
    <form #loginform="ngForm" (ngSubmit)="SaveLogInDetails()">
      <h2 class="text-center">Log In</h2>
  
      <div class="form-outline mb-4">
        <label class="form-label" >User Name</label>
        <input type="text" required #username="ngModel" class="form-control" name="username" [(ngModel)]="login.username" />
        <p  *ngIf="username.invalid && username.touched" class="text-danger float-right">Please Enter Valid UserName</p>
      </div>
  
      <div class="form-outline mb-4">
        <label class="form-label"   >Password</label>
        <input type="password" required #password="ngModel" class="form-control" name="password" [(ngModel)]="login.password" />
        <p *ngIf="password.invalid && password.touched" class="text-danger float-right ">Please Enter Valid Password</p>
      </div>
      <div class="form-outline mb-4">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" required #userType="ngModel" name="userType" [(ngModel)]="login.type" value='Admin' >
            <label class="form-check-label" >
              Admin
            </label>
          </div>
          <div class="form-check  form-check-inline">
            <input class="form-check-input" type="radio" required #userType="ngModel" name="userType"  [(ngModel)]="login.type" value='Tenant'>
            <label class="form-check-label" >
              Tenant
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" required #userType="ngModel" name="userType" [(ngModel)]="login.type" value='Complaint Solver' >
            <label class="form-check-label" >
             Complaint Solver
            </label>
          </div>
</div>
      <div class="row mb-4">
        <div class="col">
          <a href="#!">Forgot password?</a>
        </div>
      </div>
  
      <div class="text-center">
        <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary btn-block mb-4 col-lg-5">
          Sign in
        </button>
      </div>
    </form>
  </div>
